/* Login & Register Form realted CSS */
.loginFormHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginForm {
    display: flex;
    flex-direction: column;
}

header {
    margin-top: 20vh;
}

.loginContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: green;
}

h1 {
    color: white;
}

/*Login Form Buttons realted CSS */
.loginButtons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.regButton {
    height: 5vh;
    width: 50%;
    margin: 5px;
    border-radius: 5px;
}

.logButton {
    width: 50%;
    height: 5vh;
    margin: 5px;
    border-radius: 5px;
}

/* link related CSS*/

.extraLinks {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
}

.entry {
    margin: 5px;
    padding: 10px;
    width: 70vw;
    border-radius: 5px;
}

.form-label {
    padding: 5px;
    text-align: left;
    font-weight: bold;
    color: white;
}