/* Login & Register Form realted CSS */
.loginFormHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginForm {
    display: flex;
    flex-direction: column;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #4183d7;
}

h1 {
    color: white;
}

/*Login Form Buttons realted CSS */
.loginButtons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.regButton {
    height: 5vh;
    width: 50%;
    margin: 5px;
    border-radius: 5px;
}

.logButton {
    background: #8ec7da;
    color: #ffffff;
    width: 50%;
    height: 5vh;
    margin: 5px;
    border-radius: 5px;
}

/* link related CSS*/

.extraLinks {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
    padding-right: 5vw;
}

a {
    font-size: 5vw;
    color: #8ec7da;
}

a:visited {
    color: #c091d3
}

.entry {
    margin: 5px;
    padding: 10px;
    width: 70vw;
    border-radius: 5px;
}

.form-label {
    padding: 5px;
    text-align: left;
    font-weight: bold;
    color: white;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

